deephaven-foo.localhost {
    log
    reverse_proxy {
        to h2c://deephaven-foo:10000
    }
    tls /dev-certs/deephaven-foo.localhost.chain.crt /dev-certs/deephaven-foo.localhost.key
}

deephaven-bar.localhost {
    log
    reverse_proxy {
        to h2c://deephaven-bar:10000
    }
    tls /dev-certs/deephaven-bar.localhost.chain.crt /dev-certs/deephaven-bar.localhost.key
}
